
.grid-container{
  display: grid;
  grid-template-columns: 130px auto 50px 150px;
  grid-template-rows:  406px 55px 450px 100px;
  height: 50vh;
  
  }

    
        .header {
        box-sizing: border-box;
        background-color: #ffffff; 
        grid-column-start: 1;
        grid-column-end: 3;
        }
    
       .banner {
        position: absolute;
        top: 60px; 
        left: 0px;
        width: 100%; 
        height: auto;
        }
        
        .top{
        width: 40%;
        background-color:#383f3d;
        }
        
    
        .nav-1 {
          box-sizing: border-box;
          background-color: #C92D54;
          position: relative;
          grid-column-start: 1;
          height: 21px;
          width: 2032px;
          left: -10px;
        }
        .nav-2 {
          box-sizing: border-box;
          background-color: #E8D20B;
          position: relative;
          grid-column-start: 1;
          height: 21px;
          top: -34px;
          width: 2032px;
          left: -10px;
          }
          
        .nav-3 {
          box-sizing: border-box;
          background-color: #004166;
          position: relative;
          grid-column-start: 1;
          height: 90px;
          top: -470px; 
          width: 2032px;
          left: -10px;
       
          }
  




        .content {
        box-sizing: border-box;
        position: relative;
        grid-column-start: 1;
        grid-column-end: span 4;
        top: -480px;
        height: 650px;
        left: -3px;
        padding-left: 7px;
        }
    
    
        h2{
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          color : #142663;
        }

        h3{
          position: relative;
          font-family: 'Open Sans', sans-serif;
          font-size: 18px;
          color : #142663;
          bottom: 710px;
          left: 1020px;
        }

        .image{ 
       position: relative;
       top: -680px; 
       left: 1040px;
       width: 800px;
       width: 700px;
       border: 5px solid #555;
       }
    
    
        p {
          font-style: italic;
          font-size: 1.4rem;
          max-width: 1000px;
          }

        p1 {
         display: block;
         position: relative;
         font-style: italic;
          font-size: 25px;
          right: -1020px; 
          max-width: 800px;
         top: -720px;
        }
   
        p2 {
      display: block;
      position: relative;
      font-style: italic;
       font-size: 25px;
       right: -1020px; 
       max-width: 800px;
      top: -710px;

    }

     h1{
      position: relative;
      font-style: italic;
       font-size: 100px;
       left: 1200px; 
      top: -600px;

     }
   
        /* Page 2/3 Divs */
        
       
        
        
        
        ul {
        display: inline;
        padding: 0px 0px 0px 0px;
        list-style: none;
        }
        /* Navigation Bar Style  */
        
        ul li {
        font-family: Arial;
        font-size: 23px;
        font-weight: bold;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        left: 19px;
        top: 13px;
        padding: 13px 35px 10px;
        border-radius: 20px;
        color: white;
        }
        ul li:hover {
        background: #343434; /* Drop down menu hover colour */
          }
         
        a:link {color:#FFFFFF;}
        a:visited {color:#FFFFFF;}
        a:hover {color:#FFFFFF;}
        a:active {color:#FFFFFF;}  
        
        /* Drop down Menu Style  */
        
        ul li ul {
        padding: 0px;
        position: absolute;
        top: 40px;
        left: -80px;
        width: 320px;
        display: none;
        z-index: 1;
        
        }
        
        ul li ul li {
        background: #454545; /* Drop down Menu colour w/o hover  */
        display: block;
        border-radius: 50px;
        }
        
        ul li:hover ul {
        display: block;
        visibility: visible; /* Drop down menu visiblity  */
        }
        


        .scroll-area {
        position: absolute;
        height: 100%;
        overflow: auto;
        }
        
        #myBtn {
        position: fixed;
        bottom: 20px; 
        right: 30px;
        z-index: 99;
        font-size: 10px;
        border: none;
        outline: none;
        color: #404040;
        cursor: pointer;
        padding: 10px; 
        background-color: #383f3d;
        border-radius: 4px;
        -moz-border-radius: 200px;
        -webkit-border-radius: 200px;
        }
        
             
        
        .footer {
        grid-column-end: span 4;
        background-color: #004166;
        margin-top: 5px;
        padding: 6px;
        color: white;
        font-style: italic;
        font-size: 0.8rem;  
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        top: 1350px;
        width: 2010px;
        }
        
       
        
        /* image carousal */
        
        
        .slider { 
         position: relative;
         width: 34.5%;
         overflow: hidden;
        } 
        .images { 
        display: flex;
        width: 100%;
        }
        .images img {
         height: 400px;
         width: 100%;
         transition: all 0.15s ease; /* Fixed typo here */
        }
       .images input { 
        display: none;
       } 
       .dots {
       display: flex;
       justify-content: center;
       margin: 5px;
       }
  
       .dots label {
       height: 20px;
       width: 20px;
       border-radius: 50%;
       border: solid #fff 3px;
       cursor: pointer;
       transition: all 0.15s ease; /*timing transition to show next image. */
       margin: 5px;
       background-color: grey;
       }
  
      .dots label:hover {background: black;}
  
      #img1:checked ~ .ml { 
      margin-left: 0;
       }
  
      #img2:checked ~ .m2 {
      margin-left: -100%;
      }
  
      #img3:checked ~ .m3 {
      margin-left: -200%;
       }
       #img4:checked ~ .m4 { /*margin-left value mores each image to the Left. */ 
      margin-left: -300%;
       }
   
       
  
  
        
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
        
        
        
        
        
       